.big-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  margin-top: 90px;
  overflow-x: hidden;
}

.carousel-container {
  max-width: 1200px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
}

.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  max-height: 1200px;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgb(160, 160, 160);
  border: transparent;
  opacity: 0.5;
}
#left,
#right:focus {
  background-color: rgb(177, 177, 177);
}
.button-wrapper {
  height: 30px;
  margin-bottom: 100px;
}
.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}
img {
  border-radius: 15px;
  height: 50vh;
  width: auto;
}
.selectors-wrapper {
  display: flex;
  margin: 10px 0px;
}

.rounds {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: none;
  border: 0.5px solid rgb(70, 70, 70);
  padding: 0;
  margin: 0px 5px;
  cursor: pointer;
  &:hover {
    background-color: grey;
  }
  &:active {
    background-color: grey;
  }
}
.hover-text {
  width: 300px;
  height: 60px;
  background-color: rgba(119, 119, 119, 0.6);
  position: absolute;
  bottom: 0;
  border-radius: 17px;
  text-align: center;
  font-size: 30px;
  color: rgb(206, 206, 206);
}
.content-wrapper {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}
